/* .wrap-2 .row{ padding: 2rem 0px;} */
.wrap-2 .ul{ list-style: none; }
.wrap-2 .ul li{ margin: 1.5rem 0; padding: 0.5rem; width: 12rem; border-radius: 10px; display: flex; align-items: center; margin-left: -0.5rem;}
.wrap-2 .ul li:nth-child(1):hover{ background: rgb(236, 219, 251);}
.wrap-2 .ul li:nth-child(2):hover{ background: rgb(220, 220, 251);}
.wrap-2 .ul li:nth-child(3):hover{ background: rgb(254, 228, 228);}
.wrap-2 .ul li:nth-child(4):hover{ background: rgb(221, 255, 221);}
.wrap-2 .circle, .circle1, .circle2, .circle3{ display: inline-block; width: 1.5rem;  height: 1.5rem; background: rgb(185, 110, 254); border-radius: 50%; }
.wrap-2 .col-3 a{ font-size: 1.1rem; margin-left: 1rem; vertical-align: super;}
.wrap-2 .circle1{ background: rgb(135, 135, 244);}
.wrap-2 .circle2{ background: rgb(255, 124, 124);}
.wrap-2 .circle3{ background: rgb(125, 239, 125);}
.wrap-2 .hide{ display: flex; margin-top: 2rem; }
.wrap-2 .hide input{ width: 1rem; height: 1rem; margin-right: 10px; margin-bottom: 5rem; cursor: pointer;}


.wrap-2 .box{ background: rgb(254, 228, 219); padding: 1rem; margin-top: 2rem; border-radius: 10px; position: relative;} 
.wrap-2 .task{ display: flex; justify-content: space-between;}
.wrap-2 .task p{ font-size: 2rem; margin-top: -15px; cursor: pointer;}
.wrap-2 .box .para{ font-size: 15px; margin-top: 21px;}

.wrap-2 .section{ display: flex; justify-content: space-between; margin-top: 1.5rem; padding: 0.5rem 0; }

.wrap-2 .box .circle2,.box .circle{ margin-left: 0.8rem;}
.wrap-2 .box .indicator{ margin-top: 0.3rem;}
.wrap-2 .box .indicator .check{ width: 15px; height: 15px; cursor: pointer;}
.wrap-2 .box .indicator .done{ margin-left: 0.5rem; margin-top: -2px; vertical-align: text-bottom;}

/* modal */
.mod-content {
    position: absolute;
    top: 22%;
    right: 4%;
    width: 10rem;
    border-radius: 0.8rem;
    background: #fff;
}

.mod-content ul{ list-style: none; padding: 0; }
.mod-content ul li:first-child{border-bottom: 1px solid black;}
.mod-content ul li{ margin: 0; padding: 16px; cursor: pointer;}
.mod-content ul li a{ color: rgb(86, 86, 86);}
.mod-content ul li:active a{ color: #000; font-weight: bolder;}

.mod{      
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border: 1px solid red; */
}


/* for Creating a line-though click of done checkbox */
.completed {
    text-decoration: line-through;
    font-weight: bolder;
}


/* ---------------------------  Media Query -------------------------- */
@media screen  and (max-width: 980px){
    .wrap-2 .task h2{ font-size: 1.4rem;}
    .wrap-2 .task p{ font-size: 1.8rem; }
    .wrap-2 .box .indicator .check{ width: 12px; height: 12px;}
    .wrap-2 .box .indicator .done{ font-size: 16px;}

    .mod-content { width: 8rem; }
    .mod-content ul li a{ font-size: 14px;}
}

@media screen and (max-width: 767px) {
    .row .col-lm-12{flex-basis: 100%; max-width: 100%;}
    .wrap-2 .ul{display: flex;}
    .wrap-2 .hide{ display: none; }
    .wrap-2 .ul li{  width: 11rem;   margin-left: 13px;}

    .wrap-2 .task h2{ font-size: 1.5rem;}
    .wrap-2 .task p{ font-size: 2rem; }
    .wrap-2 .box .indicator .check{ width: 15px; height: 15px;}
    .wrap-2 .box .indicator .done{ font-size: 1.1rem;}

    .mod-content { width: 10rem; }
    .mod-content ul li a{ font-size: 16px;}
}

@media screen and (max-width: 596px){
    
    .wrap-2 .ul li{ margin-left: 5px; padding-left: 6px;}
    .wrap-2 .col-3 a{ margin-left: 5px;}
    .wrap-2 .box{ margin-top: 0rem; margin-bottom: 1rem; }
}

@media screen and (max-width: 460px){
    .wrap-2 .com1, .com2, .com3, .com4{  width: 1rem;  height: 1rem; }
    .wrap-2 .ul {justify-self: center;}
    .wrap-2 .ul li{ padding: 3px; margin-left: 0;}
    .wrap-2 .ul li:nth-child(3){ margin-right: 3%;}
    .wrap-2 .col-3 a{ font-size: 14px; margin-left: 2px;}
    .wrap-2 .box .indicator .done{ margin-left: 0.5rem; margin-top: -2px; vertical-align: text-bottom;}

    .wrap-2 .task h2{ font-size: 1.2rem;}
    .wrap-2 .task p{ font-size: 1.6rem; }


    .wrap-2 .section{margin-bottom: -10px;}
    .wrap-2 .section .circle, .circle1, .circle2, .circle3{ width: 1rem;  height: 1rem; }
    .wrap-2 .box .indicator .check{ width: 12px; height: 12px; vertical-align: top;}
    .wrap-2 .box .indicator .done{ font-size: 0.9rem; display: inline-block; vertical-align: super; margin-top: -1.5px;}

    .mod-content { width: 8rem; }
    .mod-content ul li a{ font-size: 14px;}
    .mod-content ul li{ padding: 14px; }
}

@media screen and (max-width: 330px){
    .wrap-2 .ul li:nth-child(3){ margin-right: 0%;}
}


